<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.shop.mapper.MessageSettingMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.shop.domain.MessageSetting" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="MESSAGE_BODY_ID" property="messageBodyId" jdbcType="BIGINT" />
    <result column="EVENT_TYPE" property="eventType" jdbcType="INTEGER" />
    <result column="RECOVERY_MODE" property="recoveryMode" jdbcType="INTEGER" />
    <result column="KEY_WORD" property="keyWord" jdbcType="VARCHAR" />
    <result column="MATCHING_TYPE" property="matchingType" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SHOP_NO, MESSAGE_BODY_ID, EVENT_TYPE, RECOVERY_MODE, KEY_WORD, MATCHING_TYPE, 
    STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByShopNo" resultMap="BaseResultMap" parameterType="com.zjlp.face.shop.domain.MessageSetting" >
    select 
    <include refid="Base_Column_List" />
<if test="keyWord != null">
    ,(length(KEY_WORD)-length(#{keyWord,jdbcType=VARCHAR})) as rn
    </if>
    from message_setting
    <where>
    <if test="shopNo != null">
    	SHOP_NO = #{shopNo,jdbcType=VARCHAR}
    </if>
    
    	<if test="eventType != null">
        AND EVENT_TYPE = #{eventType,jdbcType=INTEGER} 
        </if>
        <if test="keyWord != null">
        AND KEY_WORD like CONCAT('%','${keyWord}','%' )
        </if>
    	AND STATUS= 1
    </where>
         <if test="keyWord != null">order by rn limit 0,1;</if>         
	   <if test="keyWord == null">order by UPDATE_TIME desc limit 0,1;</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message_setting
    where ID = #{id,jdbcType=BIGINT} 
  </select>
  <select id="listMessageSetByShopNO" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List"/>
    from message_setting where shop_no = #{shopNo, jdbcType=VARCHAR} and AND STATUS= 1 order by id
  </select>
  <select id="searchMessageSetByKeyWord" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List"/>
    from message_setting  
    <where>
    shop_no = #{shopNo} and AND STATUS= 1
         <if test="keyWord!=null and keyWord!=''">
             and key_word LIKE CONCAT('%',#{keyWord, jdbcType=VARCHAR},'%')
        </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from message_setting
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjlp.face.shop.domain.MessageSetting" >
    insert into message_setting (ID, SHOP_NO, MESSAGE_BODY_ID, 
      EVENT_TYPE, RECOVERY_MODE, KEY_WORD, 
      MATCHING_TYPE, STATUS, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, #{messageBodyId,jdbcType=BIGINT}, 
      #{eventType,jdbcType=INTEGER}, #{recoveryMode,jdbcType=INTEGER}, #{keyWord,jdbcType=VARCHAR}, 
      #{matchingType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlp.face.shop.domain.MessageSetting" >
    insert into message_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="messageBodyId != null" >
        MESSAGE_BODY_ID,
      </if>
      <if test="eventType != null" >
        EVENT_TYPE,
      </if>
      <if test="recoveryMode != null" >
        RECOVERY_MODE,
      </if>
      <if test="keyWord != null" >
        KEY_WORD,
      </if>
      <if test="matchingType != null" >
        MATCHING_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="messageBodyId != null" >
        #{messageBodyId,jdbcType=BIGINT},
      </if>
      <if test="eventType != null" >
        #{eventType,jdbcType=INTEGER},
      </if>
      <if test="recoveryMode != null" >
        #{recoveryMode,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="matchingType != null" >
        #{matchingType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.shop.domain.MessageSetting" >
    update message_setting
    <set >
      <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="messageBodyId != null" >
        MESSAGE_BODY_ID = #{messageBodyId,jdbcType=BIGINT},
      </if>
      <if test="eventType != null" >
        EVENT_TYPE = #{eventType,jdbcType=INTEGER},
      </if>
      <if test="recoveryMode != null" >
        RECOVERY_MODE = #{recoveryMode,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        KEY_WORD = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="matchingType != null" >
        MATCHING_TYPE = #{matchingType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.shop.domain.MessageSetting" >
    update message_setting
    set SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      MESSAGE_BODY_ID = #{messageBodyId,jdbcType=BIGINT},
      EVENT_TYPE = #{eventType,jdbcType=INTEGER},
      RECOVERY_MODE = #{recoveryMode,jdbcType=INTEGER},
      KEY_WORD = #{keyWord,jdbcType=VARCHAR},
      MATCHING_TYPE = #{matchingType,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>